# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Generated data
data/processed/
data/monitoring/reference/
#data/monitoring/drift_scenarios/*.csv
src/monitoring/evidently/reports/

# MLflow artifacts
mlruns/
mlflow.db

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Docker
*.log