# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Generated data
data/processed/

# MLflow artifacts
mlruns/
mlflow.db

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Docker
*.log